* {
    --clr-primary: #FFFFFF;
    --clr-secondary: #061121;
    --clr-highlight: #1199FA;
    --clr-disabled: #f4f4f4;
    --clr-black: #000000;
    --ff-primary-body: "SF Pro Text", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: var(--ff-primary-body);
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
}